
main {
    margin: 50px 100px;
}

.flex {
    display: flex;
}

.p-toolbar {
    padding: 10px !important;
}

.s-1 {
    padding: 0.25rem;
}

.s-2 {
    padding: 0.5rem;
}

.s-3 {
    padding: 1rem;
}